body {
	text-align: center;
}

h1 {
	font-size: 30pt;
}

button {
	margin-bottom: 20px;
}

.marker {
	width: 1000px;
	height: 1000px;
	display: inline-block;
}

.grid {
	margin: 0;
	padding: 0;
	float: left;
	background-color: black;
}